<div class="layout">
  <mat-sidenav-container>

    <mat-sidenav fxFlex #start opened="false" mode="side" class="mat-elevation-z6" style="width: 350px">
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="#ffffff" class="mat-elevation-z1">
        <mat-toolbar-row class="child-options">

          <div style="padding-right: 32px" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button="" (click)="start.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <img src="../assets/logo_flat.png">
            <h3 style="margin-left: 20px">Angular Tests</h3>
          </div>

          <ng-container
            *ngIf="hasSearch; then showSearchBox;">
          </ng-container>

          <ng-template #showSearchBox>
            <div fxFlex="" fxLayout="row" fxLayoutAlign="start center" class="search-container" #searchContainer>
              <mat-icon>search</mat-icon>
              <input fxFlex="" placeholder="Search Form">
              <button mat-icon-button="" (click)="openForm(searchContainer)">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
            </div>
          </ng-template>

          <!--          <div fxFlex="720px">-->
          <!--            <template #searchOption></template>-->
          <!--          </div>-->
          <span fxFlex=""></span>

          <h3></h3>
          <button mat-icon-button="">
            <mat-icon class="mat-36">verified_user</mat-icon>
          </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="child-options">
          <div fxFlex="row" fxLayoutAlign="end center">
            <template #childOptions></template>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>

      <div class="main-container" fxFlex="" fxFlexFill>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

